:root {
  --darkgray: #333;
  --white: #fff;
  --azure: #0080ff;
  --saphire: #0f52ba;

  --primary: var(--saphire);
  --primaryLighter: var(--azure);
  --primaryContrast: var(--white);

  --backgroundColor: var(--darkgray);
  --fontColor: var(--white);
  --hyperlinkColor: var(--primaryLighter);

  --maxWidth: 50rem;

  font-size: 14px;
}

@media (prefers-color-scheme: light) {
  :root {
    --backgroundColor: var(--white);
    --fontColor: var(--darkgray);
    --hyperlinkColor: var(--primary);
  }
}

* {
  box-sizing: border-box;
}

html,
body {
  padding: 0;
  margin: 0;
  font-family: "Montserrat", system-ui, sans-serif;
  font-size: 1.25em;
  font-weight: 300;
  color: var(--fontColor);
  background-color: var(--backgroundColor);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: 500;
}

h1 {
  font-size: 1.5em;
  margin-bottom: 0.25em;
}

h2 {
  font-size: 1.25em;
}

h3 {
  font-size: 1em;
}

a {
  color: var(--hyperlinkColor);
  text-decoration: none;
  font-weight: 500;
}

a:hover {
  text-decoration: underline;
}

p,
li {
  line-height: 1.75;
}

p,
li,
img {
  max-width: var(--maxWidth);
}

.reading-time {
  font-size: 0.8em;
  margin-left: 0.25em;
}

header {
  z-index: 1000;
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: var(--primary);
  color: var(--primaryContrast);
}

header .container {
  display: flex;
  align-items: center;
  max-width: var(--maxWidth);
  height: 80px;
  width: 100%;
  padding: 1rem;
}

header h1 {
  font-weight: 400;
  font-size: 1.5rem;
  margin: 0;
  transition: all 50ms ease-in-out;
  width: 255px;
}

header h1 a[href],
header h1 a[href]:hover header h1 a[href]:visited {
  color: var(--primaryContrast);
  text-decoration: none;
}

.nav-bar {
  display: none;
}

footer .icon {
  fill: var(--primaryContrast);
  width: 30px;
  opacity: 0.9;
}

main {
  align-self: center;
  max-width: var(--maxWidth);
  min-height: calc(100vh - 2.25em);
  width: 100%;
  padding: 0rem 1rem 3rem 1rem;
}

article {
  margin-bottom: 1.5em;
}

.post-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 0.75em;
  padding: 0.5rem 0;
  margin-bottom: 1.5rem;
}

footer {
  display: flex;
  width: 100%;
  justify-content: center;
  background-color: var(--primary);
  color: var(--primaryContrast);
  font-size: 0.75rem;
}

footer .container {
  display: flex;
  align-items: center;
  max-width: var(--maxWidth);
  width: 100%;
  padding: 0 1rem;
}

footer a {
  color: var(--primaryContrast);
}

footer .copyright {
  text-align: center;
  width: 100%;
}

footer .built-with {
  display: none;
}

footer .feed {
  display: none;
}

table {
  margin: 1em 0;
}

table td,
table th {
  padding-right: 1em;
}

pre,
code {
  font-family: Consolas, Menlo, Monaco, "Andale Mono WT", "Andale Mono",
    "Lucida Console", "Lucida Sans Typewriter", "DejaVu Sans Mono",
    "Bitstream Vera Sans Mono", "Liberation Mono", "Nimbus Mono L",
    "Courier New", Courier, monospace;
  line-height: 1.5;
}

pre {
  font-size: 14px;
  line-height: 1.375;
  direction: ltr;
  text-align: left;
  white-space: pre;
  word-spacing: normal;
  word-break: normal;
  -moz-tab-size: 2;
  -o-tab-size: 2;
  tab-size: 2;
  -webkit-hyphens: none;
  -moz-hyphens: none;
  -ms-hyphens: none;
  hyphens: none;
  padding: 1em;
  margin: 0.5em 0;
  background-color: #f6f6f6;
}

.highlight-line {
  display: block;
  padding: 0.125em 0;
  text-decoration: none; /* override del, ins, mark defaults */
  color: inherit; /* override del, ins, mark defaults */
}

.highlight-line:empty:before {
  content: " ";
}

.highlight-line + br {
  display: none;
}

.highlight-line-isdir {
  color: #b0b0b0;
  background-color: #222;
}

.highlight-line-active {
  background-color: #444;
  background-color: hsla(0, 0%, 27%, 0.8);
}

.highlight-line-add {
  background-color: #45844b;
}

.highlight-line-remove {
  background-color: #902f2f;
}

.tag {
  display: inline-block;
  vertical-align: text-top;
  text-transform: uppercase;
  padding: 2px 4px;
  margin-bottom: 0.8em;
  margin-left: 0.8em; /* 8px /10 */
  font-size: 0.75em;
  background-color: var(--primary);
  color: var(--primaryContrast);
  border-radius: 0.25em; /* 3px /12 */
  text-decoration: none;
}
.tag:hover {
  background-color: var(--primaryLighter);
}
a.tag,
a.tag:hover {
  color: #fff;
  text-decoration: none;
}

@media (min-width: 481px) {
  :root {
    font-size: 20px;
  }
  header {
    position: fixed;
    top: 0;
  }
  .nav-bar {
    display: block;
    transform: translateY(0.65em);
    transition: all 200ms ease-in-out;
  }

  .animate-post-title .nav-bar {
    transform: translateY(-0.75em);
  }

  .post-title {
    position: relative;
    padding: 0 1rem;
    opacity: 0;
    font-weight: 500;
    transform: translateX(-2.25em);
    transition: all 200ms ease-in-out;
  }

  .animate-post-title .post-title {
    opacity: 1;
  }

  .animate-post-title h1 {
    font-size: 1rem;
    opacity: 0.9;
  }

  .animate-post-title h1:hover {
    opacity: 1;
  }

  .animate-post-title nav {
    opacity: 0;
  }

  nav {
    margin-left: 1.5rem;
    padding-bottom: 0.25rem;
    opacity: 1;
    transition: 200ms all ease-in-out;
  }

  nav a {
    font-size: 1rem;
    padding: 0 1rem;
    margin: 0;
    color: var(--primaryContrast);
    position: relative;
    opacity: 0.75;
    transition: all 0.35s ease-in-out;
  }

  nav a:hover {
    text-decoration: none;
    opacity: 1;
  }

  nav a:before {
    content: "";
    position: absolute;
    right: 100%;
    bottom: 0;
    left: 1rem;
    height: 1px;
    background: var(--primaryContrast);
    transition: all 0.35s ease-in-out;
    opacity: 0.25;
  }

  nav a:hover:before {
    right: 1rem;
    opacity: 0.5;
  }

  main {
    padding-top: 5rem;
  }

  h1 {
    font-size: 2em;
  }
  
  p,
  li {
    line-height: 1.55;
  }

  .post-footer {
    flex-direction: row;
    justify-content: space-between;
  }

  .post-date {
    flex-basis: 20em;
  }

  footer .container .built-with,
  footer .container .feed {
    display: block;
    flex-basis: 200px;
  }

  footer .container .feed {
    text-align: end;
  }
}

body {
  display: flex;
  justify-content: center;
  flex-direction: column;
}