<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ renderData.title or title or metadata.title }}</title>
    <meta name="Description" content="{{ renderData.description or description or metadata.description }}">
    <link rel="icon" href="{{ '/img/logo.svg' | url }}" type="image/x-icon">
    <link rel="stylesheet" href="{{ '/css/index.css' | url }}">
    <link rel="stylesheet" href="{{ '/css/prism-base16-monokai.dark.css' | url }}">
    <link rel="alternate" href="{{ metadata.feed.path | url }}" type="application/atom+xml" title="{{ metadata.title }}">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,300;0,400;0,500;1,300;1,400;1,500&display=swap" rel="stylesheet">
    <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
  </head>
  <body>
    <header>
      <div class="container">
        <h1>
          <a href="/" title="Randal Cunanan">Randal Cunanan</a>
        </h1>
        <div class="nav-bar">
          <nav>
            <a href="/" title="Home">Home</a>
          </nav>
          <div class="post-title">{{ title or 'My Site' }}</div>
        </div>
      </div>
    </header>
    <main{% if templateClass %} class="{{ templateClass }}"{% endif %}>
      {{ content | safe }}
    </main>

    <footer>
      <div class="container">
        <div class="built-with">Built with <a href="https://www.11ty.dev/" target="_blank" rel="noopener">11ty</a>
        </div>
        
        <p class="copyright">Randal Cunanan © 2020</p>
        
        <!--
        <a class="feed" href="/feed/feed.xml">
          <svg class="icon" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24">
            <circle cx="6.18" cy="17.82" r="2.18"></circle>
            <path d="M4 4.44v2.83c7.03 0 12.73 5.7 12.73 12.73h2.83c0-8.59-6.97-15.56-15.56-15.56zm0 5.66v2.83c3.9 0 7.07 3.17 7.07 7.07h2.83c0-5.47-4.43-9.9-9.9-9.9z"></path>
          </svg>
        </a>
        -->
      </div>
    </footer>

    {% if title %}
      <script>
        (function () {
          if (window.IntersectionObserver) {
            const header = document.querySelector('header');
            const options = {
              threshold: 1
            };
            const callback = function (entries) {
              if (!entries[0].isIntersecting) {
                header
                  .classList
                  .add('animate-post-title');
              } else {
                header
                  .classList
                  .remove('animate-post-title');
              }
            };

            const observer = new IntersectionObserver(callback, options);
            observer.observe(document.querySelector('article h1'));
          }
        })();
      </script>
    {% endif %}
    <script>
    if (window.netlifyIdentity) {
      window.netlifyIdentity.on("init", user => {
        if (!user) {
          window.netlifyIdentity.on("login", () => {
            document.location.href = "/admin/";
          });
        }
      });
    }
    </script>
  </body>
</html>