---
layout: layouts/base.njk
---
<article>
    <h1>{{ title }}</h1>
    <div class="reading-time">{{ content | readingTime }} read</div>

    {{ content | safe }}
</article>

<div class="post-footer">
    <div class="post-tags">
        Tags:
        {% for tag in tags %}
            {%- if collections.tagList.indexOf(tag) != -1 -%}
                {% set tagUrl %}/tags/{{ tag }}/{% endset %}
                <a href="{{ tagUrl | url }}" class="tag">{{ tag }}</a>
            {%- endif -%}
        {% endfor %}
    </div>
    <p class="post-date">Last Updated: <time datetime="{{ date | htmlDateString }}">{{ date | readableDate }}</time>
    </p>
</div>